header.rose {
  background-color: $prj-rose;
}

header.jaune {
  background-color: $prj-jaune;
}

header.jaune-citron {
  background-color: $prj-jaune-citron;
}

header.bleu {
  background-color: $prj-bleu;
}

header.gris {
  background-color: $prj-gris;
}

header.rouge {
  background-color: $prj-rouge;
}

header.vert {
  background-color: $prj-vert;
}

header.orange {
  background-color: $prj-orange;
}

header.violet {
  background-color: $prj-violet;
}
