.banner {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;

  .canvas {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 80px;
    height: 80px;
    transition: all 0.2s ease-out;

    &__text {
      position: absolute;
      z-index: 100;
      margin: 4.1px;
      -webkit-animation: rotating 40s linear infinite;
    }

    &:hover {
      transform: scale3d(1.2, 1.2, 1.2);
    }

    @-webkit-keyframes rotating {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }

  #menu-menu-1 {
    display: flex;
    justify-content: flex-end;
    padding: 70px 100px;
    font-size: 15px;
    font-weight: bolder;

    li {
      margin-left: 20px;
    }

    a {
      color: $white;
      font-family: $font-title;
    }
  }
}

.current-menu-item {
  opacity: 0.5;
}

.white-menu {
  color: $white !important;
}

.grey-menu {
  color: $white !important;
}
