.content-projects {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }

  .projet {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    .scroll {
      height: 120vh;
      width: 100%;

      span.span-title-project {
        overflow: hidden;
        pointer-events: none;
        z-index: 10;
        display: block;
        position: absolute;
        left: 10%;
        top: 25vh;
        height: 280px;

        h1 {
          display: flex;

          span {
            display: block;
            overflow: hidden;
          }
        }
      }

      img {
        margin-left: -50px;
        position: absolute;
        top: calc(50vh - 530px / 2);
        left: calc(50% - 400px / 2);
        width: 400px;
        height: 530px;
        pointer-events: stroke;
      }

      .miniInfo {
        transform: rotate(90deg);
        top: 40vh;
        right: 200px;
        position: absolute;
        pointer-events: none;
        transition: all 0.4s;
      }

      .nbProjet {
        pointer-events: none;
        bottom: 0;
        right: 520px;
        z-index: -10;
        font-family: "Teko", sans-serif;
        color: white;
        font-size: 200px;
        position: absolute;
        transition: all 0.4s;
      }
    }
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
