body {
  background-color: $light-grey;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1 {
  color: $red;
  font-family: "Teko", sans-serif;
  font-size: 280px;
  pointer-events: none;
}

p {
  color: $brown;
  font-family: "roboto", sans-serif;
}

a {
  color: $brown;
  font-weight: bolder;
  transition: all 1s;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $brown;
  }
}
