body {
  background-color: $black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1 {
  color: $white;
  font-family: $font-title;
  font-weight: 800;
  font-size: 200px;
  pointer-events: none;
}

p {
  color: $white;
  font-family: "roboto", sans-serif;
}

a {
  color: $white;
  font-weight: bolder;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}
