/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #292323
);

$brown: #635b59;
$light-brown: #d1cece;
$light-grey: #f3f1f0;
$red: #e41818;
$red-light: #fff;
$white: #fff;
$prj-rose: #f9d6e7;
$prj-jaune: #ffe279;
$prj-jaune-citron: #faf7cd;
$prj-gris: #dfdfdf;
$prj-vert: #daf9df;
$prj-bleu: #edeff2;
$prj-violet: #eccef1;
$prj-rouge: #ffa89a;
$prj-orange: #ffcc60;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap");

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

